<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>IP to Date Online Converter</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
          name='viewport'/>
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet"/>
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <!-- CSS Files -->
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="./assets/css/now-ui-kit.min.css" rel="stylesheet"/>
</head>

<body class="index-page sidebar-collapse">
<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-primary fixed-top navbar-transparent " color-on-scroll="400">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" href="/" rel="tooltip" data-placement="bottom" target="_blank">
                IP2Date
            </a>
            <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
                    aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-bar top-bar"></span>
                <span class="navbar-toggler-bar middle-bar"></span>
                <span class="navbar-toggler-bar bottom-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse justify-content-end" id="navigation"
             data-nav-image="./assets/img/blurred-image-1.jpg">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="https://gitlab.com/d3fl4t3/ip2date" target="_blank">
                        View Source
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://t.me/hacker_volodya" target="_blank">
                        <i class="fab fa-telegram"></i>
                        <p class="d-lg-none d-xl-none">Telegram Channel</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- End Navbar -->
<div class="wrapper">
    <div class="page-header clear-filter" filter-color="orange">
        <div class="page-header-image" data-parallax="true" style="background-image:url('./assets/img/header.jpg');">
        </div>
        <div class="container">
            <div class="content-center brand">
                <h3>Convert IPv4 to Date</h3>
                <div class="card">
                    <div class="card-body">
                        <form method="post" class="form">
                            <div class="form-row align-items-center">
                                <div class="col-sm-4"></div>
                                <div class="col-auto">
                                    <input class="form-control" name="ip" value="{{ ip }}"/>
                                </div>
                                <div class="col-auto">
                                    <button class="btn btn-success btn-sm">Convert</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">&nbsp;</div>
                    <div class="card-body">
                        <pre>{{ result }}</pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="./assets/js/core/jquery.min.js" type="text/javascript"></script>
<script src="./assets/js/core/bootstrap.min.js" type="text/javascript"></script>
<script src="./assets/js/now-ui-kit.js?v=1.2.0" type="text/javascript"></script>
</body>

</html>